[project]
	description = Multitasking App
[access "refs/*"]
	owner = group user/Christopher Chaison (mightaswellcsc)
[access "refs/for/refs/*"]
	read = group user/Christopher Chaison (mightaswellcsc)
	push = group user/Christopher Chaison (mightaswellcsc)
	label-Code-Review = -2..+2 group user/Christopher Chaison (mightaswellcsc)
	label-Verified = -1..+1 group user/Christopher Chaison (mightaswellcsc)
	rebase = group user/Christopher Chaison (mightaswellcsc)
	removeReviewer = group user/Christopher Chaison (mightaswellcsc)
	submit = group user/Christopher Chaison (mightaswellcsc)
[access "refs/heads/*"]
	read = group user/Christopher Chaison (mightaswellcsc)
	create = group user/Christopher Chaison (mightaswellcsc)
	push = +force group user/Christopher Chaison (mightaswellcsc)
	pushMerge = group user/Christopher Chaison (mightaswellcsc)
[access "refs/tags/*"]
	push = +force group user/Christopher Chaison (mightaswellcsc)
	pushTag = group user/Christopher Chaison (mightaswellcsc)
	pushSignedTag = group user/Christopher Chaison (mightaswellcsc)
